@import "../../../styles/Variables/Variables.scss";
@import "../../../styles/breakpoints/breakpoints.scss";

.card {
  color: $whiteColor;
  padding: 1rem 1rem 1rem 1rem;

  // font-family: $titleFont;

  .items_position {
    border: 3px solid $pinkColor;
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100%;
    max-width: 100%;

    // box-shadow: 7px 7px 10px lightpink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 lightpink;
    background-color: $blackColor;

    @include media("<=Resp660") {
      max-width: 305px;
    }

    .image_container {
      width: 100%;
      @include media(">=Resp660") {
        width: 420px;
        height: 282px;
      }
    }

    .img {
      max-height: 100%;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
    // .img {
    //   max-width: 400px;
    //   padding-left: 0.4rem;
    //   min-height: 300px;
    //   @include media("<=Resp660") {
    //     max-width: 400px;
    //     // padding-left: 2.9rem;
    //   }
    // }

    h1 {
      display: flex;
      justify-content: center;
      width: 400px;
      height: 40px;
      font-size: 25px;
      @include media("<=Resp660") {
        font-size: 1rem;
        max-width: 300px;
      }
    }

    p {
      display: flex;
      flex-wrap: wrap;
      width: 400px;
      min-height: 280px;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.01em;
      text-align: start;
      margin-top: 0rem;
      padding: 0rem 1rem;

      @include media("<=Resp660") {
        font-size: 0.8rem;
        max-width: 300px;
      }
    }

    .button_position {
      padding-bottom: 1rem;

      button {
        @include buttonStyle;

        @include media("<=Resp660") {
          font-size: 15px;
          min-height: 30px;
        }
      }
    }
  }
}
