@import "../../styles/breakpoints/breakpoints.scss";
.section {
  display: flex;
  // justify-content: flex-start;
  justify-content: space-between;

  background-image: url("https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg");

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  .images_div {
    width: 700px;
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    height: 550px;
    img {
      height: 550px;
      width: 700px;
    }
  }
  .aboutCard_div {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 6rem;
    margin-bottom: 1.2rem;
    margin-left: 5rem;
    // margin-right: 10rem;
  }
  @include media("<=LGLaptop") {
    .images_div {
      width: 550px;
      margin-top: 6rem;
      margin-bottom: 1rem;

      img {
        height: 550px;
        width: 550px;
      }
    }
  }

  @include media("<=Laptop") {
    .images_div {
      width: 450px;

      img {
        height: 500px;
        width: 450px;
      }
    }
    .aboutCard_div {
      width: 450px;
      height: 500px;
    }
  }

  // @include media("<=Resp830") {
  //   justify-content: center;
  //   .images_div {
  //     width: 400px;

  //     margin-top: 6rem;
  //     margin-bottom: 1rem;
  //     margin-right: 5rem;
  //     img {
  //       height: 400px;
  //       width: 400px;
  //     }
  //   }
  //   .aboutCard_div {
  //     display: flex;
  //     justify-content: center;
  //     width: 600px;
  //     margin-top: 6rem;
  //     margin-bottom: 1.2rem;
  //     margin-right: 10rem;
  //   }
  // }

  // @include media("<=Resp660") {
  // }
}
