@import "../../../styles/Variables/Variables.scss";
@import "../../../styles/breakpoints/breakpoints.scss";

.card {
  background-color: rgba(173, 22, 110, 0.25);
  color: $whiteColor;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 3rem;
      margin: 1rem;
    }
    p {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}
