@import "../styles/Variables/Variables.scss";

body {
  direction: rtl;
  margin: 0;
  background-color: $appBackGroundColor;
  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Fredoka", sans-serif;
}
p {
  font-family: "Fredoka", sans-serif;
}

* {
  flex-wrap: wrap;
  box-sizing: border-box;
}
